{% extends 'prenotazioni/home.html' %}
{% load static %}

{% block title %}Lista Clienti{% endblock %}

{% block content %}


{% for clienti in clientis %}

                <div class="col-sm-5"style="text-align:center">
                 <h1><a style="color:black;" >{{ clienti.nome}}</a></h1>

                   <p style="color:black;"> {{ clienti.indirizzo}}</p>
                   <p style="color:black;"> {{ clienti.eta}}</p>
                    </div>

{% endfor %}
<script>
    var clienti = {"nome":${nome}, "eta":"nome":${nome}, "indirizzo":${indirizzo}};
    var i;
for (i = 0; i < clienti.length; i++) {
  text += clienti[i] + "<br>";
}
document.getElementById("demo").innerHTML = text;

</script>

{% endblock%}